httpx
pytest
black
isort
mypy
fastapi
uvicorn
python-multipart
python-dotenv
requests
Pillow
openai==0.27.8
pdf2image
gpt_index
langchain
llama_index==0.5.27
pypdf
spacy
ragas
datasets
docx2txt
cryptography